head
    title template
    style.
        :root {
            font-family: "Roboto Light",sans-serif;
            font-style: normal;
        }
        table{
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }
        th{
            padding: 20px;
            font-size: 25px;
            background: #3D3A3A;
            color: #FFFFFF;
            vertical-align: middle;
        }
        td{
            padding: 15px;
        }
        .greeting{
            font-size: 30px;
            font-weight: bold;
        }
        .token {
            font-size: 15px;
            font-weight: bold;
        }
        .text{
            font-size: 15px;
            font-weight: normal;
        }
        .footer{
            background: #3D3A3A;
        }
        .footer-text{
            font-size: 10px;
            font-weight: normal;
        }
table
    tr
        th(colspan='2')
            | The Game - Password Code
    tr
        td(colspan='2')
            p.greeting Hello #{user}
            br
            p.text
                | Your password reset code is:
                br
            span.token #{token}
            p.text
                | Enter this code at&nbsp;
                a(href='#{resetUrl}') #{resetUrl}
            br
            p.text Attention: This code will expire in #{expiry} minutes.
            p.text
                | Have fun with
                b The Game
                |  and remember to remember your password!
    tr.footer
        td
            p.footer-text
                | Play&nbsp;
                b The Game
                |  at&nbsp;
                a(href='#{frontendUrl}') #{frontendUrl}
        td
            p.footer-text &copy; Devtronaut
