head
    title template
    style.
        :root {
            font-family: "Roboto Light",sans-serif;
            font-style: normal;
        }
        table{
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }
        th{
            padding: 20px;
            font-size: 25px;
            background: #3D3A3A;
            color: #FFFFFF;
            vertical-align: middle;
        }
        td{
            padding: 15px;
        }
        .greeting{
            font-size: 30px;
            font-weight: bold;
        }
        .token {
            font-size: 15px;
            font-weight: bold;
        }
        .text{
            font-size: 15px;
            font-weight: normal;
        }
        .footer{
            background: #3D3A3A;
        }
        .footer-text{
            font-size: 10px;
            font-weight: normal;
        }
table
    tr
        th(colspan='2')
            | The Game - Passwort Code
    tr
        td(colspan='2')
            p.greeting Hallo #{user}
            br
            p.text
                | Dein Code lautet:
                br
            span.token #{token}
            p.text
                | Gib hier den Code ein&nbsp;
                a(href='#{resetUrl}') #{resetUrl}
            br
            p.text Achtung: Der Code wird in #{expiry} Minuten auslaufen.
            p.text
                | Viel Spass mit
                b The Game
                |  und vergiss nicht, dein Passwort nicht zu vergessen!
    tr.footer
        td
            p.footer-text
                | Spiel&nbsp;
                b The Game
                |  bei&nbsp;
                a(href='#{frontendUrl}') #{frontendUrl}
        td
            p.footer-text &copy; Devtronaut
